<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IAA - Frankfurt Motor Show</title>
    <link rel="shortcut icon" href="../assets/images/cart/_car4.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/font/inconfont.css">
    <link rel="stylesheet" href="../assets/css/home.css">
    <link rel="stylesheet" href="../assets/css/common.css">
</head>

<body>
    <!---------------- 头部导航区域 ---------------->
    <header>
        <nav>
            <div class="wrap">
                <!-- 左侧logo区域 -->
                <div class="left">
                    <img src="../assets/images/company/logo.png" alt="">
                </div>
                <!-- 右侧标题导航区域 -->
                <div class="right">
                    <a href="" class="active">Home</a>
                    <a href="">About</a>
                    <a href="">Service</a>
                    <a href="">Protfolio</a>
                    <a href="">Team</a>
                    <a href="">Price</a>
                    <a href="">Blog</a>
                    <a href="">Contact</a>
                </div>
            </div>
        </nav>
    </header>

    <!-------------- 轮播图区域-------------->
    <section id="swiper">
        <!-- 主要区域 -->
        <div class="wrap main">
            <!-- 左侧文字描述 -->
            <div class="left">
                <h1>
                    We are Very Professional
                    <br>
                    To Our Work
                </h1>
                <p class="desc">
                    The process of business model construction and modification
                    <br>
                    is also called business model innovation.
                </p>

                <!-- 底部按钮 -->
                <div class="btn-list">
                    <div class="learn-more">
                        Learn Mode
                    </div>
                    <div class="watch-video">
                        <!-- svg字体图标 -->
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-bofang"></use>
                        </svg>
                        <span>Watch Video</span>
                    </div>
                </div>
            </div>

            <!-- 右侧图片 -->
            <div class="right">
                <img src="../assets/images/company/hero-img1.png">
            </div>
        </div>


        <!-- 轮播图指示器 -->
        <div class="indicator wrap">
            <span>
                <i class="flaticon-left"></i> PREV</span>
            <span>NEXT <i class="flaticon-right"></i></span>
        </div>
    </section>


    <!-------------- 小卡片区域-------------->
    <section id="card">
        <div class="wrap">
            <!-- 每个卡片区域 -->
            <div class="card-item">
                <div class="flaticon-focus"></div>
                <p class="title">Business Growth</p>
                <p class="desc">
                    Market penetration is the key for a business growth. Business development processes to develop and
                    implement.
                </p>
            </div>

            <div class="card-item">
                <div class="flaticon-career"></div>
                <p class="title">Business Focus</p>
                <p class="desc">
                    Business focuses on strategic planning for international operations. Business focus ensuring
                    business needs.
                </p>
            </div>

            <div class="card-item">
                <div class="flaticon-career-1"></div>
                <p class="title">Business Goal</p>
                <p class="desc">
                    Business needs are understood and communicated so that problem solutions meet the business goals.
                </p>
            </div>


        </div>
    </section>

    <!-------------- 关于公司区域-------------->
    <section id="about">
        <div class="wrap">
            <div class="left">
                <img src="../assets/images/company/about-img1.png">
            </div>
            <div class="right">

                <div class="top">About Us</div>
                <div class="title">
                    We are awesome team work for your business dream
                </div>
                <div class="desc">
                    Business is the activity of making one's living or making money. One business makes a commercial
                    transaction with another. A business entity is an entity that is formed and administered as per
                    corporate. Business may refer to many differing activities, such as the activity of buying or
                    selling.
                </div>

                <div class="list">
                    <li>
                        <i class="dot"></i>
                        <span>
                            One's business To attend to one's duties.
                        </span>
                    </li>
                    <li>
                        <i class="dot"></i>
                        Business may refer to many differing activities.
                    </li>
                    <li>
                        <i class="dot"></i>
                        Business representation made by and for business people.
                    </li>
                    <li>
                        <i class="dot"></i>
                        Business information about a company or individual.
                    </li>

                </div>
                <div class="btn">
                    Learn More
                </div>

            </div>
        </div>
    </section>


    <!-------------- 公司服务区域-------------->
    <section id="service">
        <div class="wrap">
            <!-- 标题 -->
            <div class="title">
                Business Services
            </div>

            <!-- 线条区域 -->
            <div class="line">
                <span class="left"></span>
                <img src="../assets/images/company/seperator-icon.png">
                <span class="right"></span>
            </div>

            <!-- 描述区域 -->
            <div class="desc">
                Business services are activities that combine or consolidate certain
                <br>
                enterprise-wide needed support services
            </div>

            <!-- 卡片区域 -->
            <div class="card">
                <div class="card-list">
                    <div class="card-item">
                        <a href="">
                            <!-- 遮罩层 -->
                            <div class="cover"></div>
                            <img src="../assets/images/company/service1.png">
                        </a>
                        <h2 class="title">
                            Business Meeting
                        </h2>
                        <div class="desc">
                            A meeting is when two or more people come together to discuss one or more topics often in a
                            formal or business
                        </div>
                    </div>

                    <div class="card-item">
                        <a href="">
                            <!-- 遮罩层 -->
                            <div class="cover"></div>
                            <img src="../assets/images/company/service2.png">
                        </a>
                        <h2 class="title">
                            Business Analysis
                        </h2>
                        <div class="desc">
                            Business analysis is a research discipline of identifying business needs and determining
                            solutions to business.
                        </div>
                    </div>

                    <div class="card-item">
                        <a href="">
                            <!-- 遮罩层 -->
                            <div class="cover"></div>
                            <img src="../assets/images/company/service3.png">
                        </a>
                        <h2 class="title">
                            Business Grow
                        </h2>
                        <div class="desc">
                            Market penetration is the key for a business growth. Business development processes to
                            develop
                            and implement growth.
                        </div>
                    </div>
                </div>

                <!-- 轮播的箭头区域 -->
                <div class="arrow wrap">
                    <div class="left">
                        <i class="flaticon-left"></i>
                    </div>
                    <div class="right">
                        <i class="flaticon-right"></i>
                    </div>
                </div>

            </div>

            <!-- 公司数据区域 -->
            <div class="company-data">
                <div class="item">
                    <div class="company_icon">
                        <i class="flaticon-rate"></i>
                    </div>
                    <div class="number">999</div>
                    <div class="name">
                        Satisfied customers
                    </div>
                </div>

                <div class="item">
                    <div class="company_icon">
                        <i class="flaticon-code"></i>
                    </div>
                    <div class="number">185</div>
                    <div class="name">
                        Built websites
                    </div>
                </div>

                <div class="item">
                    <div class="company_icon">
                        <i class="flaticon-laptop"></i>
                    </div>
                    <div class="number">100</div>
                    <div class="name">
                        Experts Worker
                    </div>
                </div>

                <div class="item">
                    <div class="company_icon">
                        <i class="flaticon-win"></i>
                    </div>
                    <div class="number">200</div>
                    <div class="name">
                        Experience Years
                    </div>
                </div>
            </div>

        </div>


    </section>


    <!-------------- 项目展示区域-------------->
    <section id="project">
        <div class="wrap">
            <!-- 标题 -->
            <div class="title">
                Our Latest Project
            </div>

            <!-- 线条区域 -->
            <div class="line">
                <span class="left"></span>
                <img src="../assets/images/company/seperator-icon.png">
                <span class="right"></span>
            </div>

            <!-- 描述区域 -->
            <div class="desc">
                This is a great place to tell people more about your services and
                <br>
                peak their interest. Last year our latest work album
            </div>
        </div>

        <!-- 卡片轮播图区域 -->
        <div class="card-swiper">
            <!-- 轮播图图片区域 -->
            <div class="list">
                <div class="item">
                    <img src="../assets/images/company/project1.png">

                    <!-- 遮罩层 -->
                    <div class="cover">
                        <!-- 遮罩层中的文字 -->
                        <div class="title">
                            <h3>Project Title One</h3>
                            <p>Branding</p>
                        </div>

                    </div>
                </div>

                <div class="item">
                    <img src="../assets/images/company/project2.png">

                    <!-- 遮罩层 -->
                    <div class="cover">
                        <!-- 遮罩层中的文字 -->
                        <div class="title">
                            <h3>Project Title One</h3>
                            <p>Branding</p>
                        </div>

                    </div>
                </div>

                <div class="item">
                    <img src="../assets/images/company/project3.png">

                    <!-- 遮罩层 -->
                    <div class="cover">
                        <!-- 遮罩层中的文字 -->
                        <div class="title">
                            <h3>Project Title One</h3>
                            <p>Branding</p>
                        </div>

                    </div>
                </div>

                <div class="item">
                    <img src="../assets/images/company/project4.png">

                    <!-- 遮罩层 -->
                    <div class="cover">
                        <!-- 遮罩层中的文字 -->
                        <div class="title">
                            <h3>Project Title One</h3>
                            <p>Branding</p>
                        </div>

                    </div>
                </div>
            </div>

            <!-- 指示器区域 -->
            <div class="indicator">
                <li class="dot active"></li>
                <li class="dot"></li>
                <li class="dot"></li>
                <li class="dot"></li>
            </div>


        </div>

    </section>


    <!-------------- 技能数据区域-------------->
    <section id="skill">

        <div class="wrap">
            <!-- 左侧图片 -->
            <div class="left">
                <img src="../assets/images/company/skill-img.png" />
            </div>

            <!-- 右侧数据 -->
            <div class="right">
                <h2>Skills & Expertise</h2>
                <div class="desc">
                    A skill is the ability to carry out a task with determined results often within a given amount of
                    time. Skill usually requires certain environmental stimuli and situations to assess. Skilled memory
                    enables experts to rapidly encode, store, and retrieve information within the domain of their
                    expertise.
                </div>

                <!-- 进度条区域 -->
                <div class="progress">
                    <div class="item">
                        <div class="header">
                            <!-- 标题 -->
                            <div class="title">
                                Web Development
                            </div>

                            <!-- 百分比 -->
                            <div class="precent">
                                90%
                            </div>

                        </div>

                        <!-- 进度条展示 -->
                        <div class="progress-bar">
                            <!-- 里面的具体进度条 -->
                            <div class="detial-info"></div>
                        </div>

                    </div>

                    <div class="item">
                        <div class="header">
                            <!-- 标题 -->
                            <div class="title">
                                Web Design
                            </div>

                            <!-- 百分比 -->
                            <div class="precent">
                                95%
                            </div>

                        </div>

                        <!-- 进度条展示 -->
                        <div class="progress-bar">
                            <!-- 里面的具体进度条 -->
                            <div class="detial-info" style="width: 95%;"></div>
                        </div>

                    </div>

                    <div class="item">
                        <div class="header">
                            <!-- 标题 -->
                            <div class="title">
                                HTML / CSS
                            </div>

                            <!-- 百分比 -->
                            <div class="precent">
                                85%
                            </div>

                        </div>

                        <!-- 进度条展示 -->
                        <div class="progress-bar">
                            <!-- 里面的具体进度条 -->
                            <div class="detial-info" style="width: 85%;"></div>
                        </div>

                    </div>

                    <div class="item">
                        <div class="header">
                            <!-- 标题 -->
                            <div class="title">
                                WordPress
                            </div>

                            <!-- 百分比 -->
                            <div class="precent">
                                80%
                            </div>

                        </div>

                        <!-- 进度条展示 -->
                        <div class="progress-bar">
                            <!-- 里面的具体进度条 -->
                            <div class="detial-info" style="width: 80%;"></div>
                        </div>

                    </div>

                    <div class="item">
                        <div class="header">
                            <!-- 标题 -->
                            <div class="title">
                                Photoshop
                            </div>

                            <!-- 百分比 -->
                            <div class="precent">
                                95%
                            </div>

                        </div>

                        <!-- 进度条展示 -->
                        <div class="progress-bar">
                            <!-- 里面的具体进度条 -->
                            <div class="detial-info" style="width: 95%;"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-------------- 团队成员区域 -------------->
    <section id="creative-team">
        <div class="header wrap">
            <!-- 标题 -->
            <div class="title">
                Creative Team
            </div>

            <!-- 线条区域 -->
            <div class="line">
                <span class="left"></span>
                <img src="../assets/images/company/seperator-icon.png">
                <span class="right"></span>
            </div>

            <!-- 描述区域 -->
            <div class="desc">
                Team members need to learn how to help one another. A team becomes more
                <br>
                than just a collection of people when a strong sense.

            </div>


        </div>


        <!-- 团队成员区域 -->
        <div class="team-worker">
            <!-- 成员卡片区域 -->
            <div class="card-list wrap">
                <div class="item">
                    <img src="../assets/images/company/team1.png">
                    <h3>Rodney Artichoke</h3>
                    <p>UI/UX Designer</p>
                    <!-- 联系方式 -->
                    <div class="contact">
                        <li>
                            <!-- svg字体图标 -->
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-tuitetwitter43"></use>
                            </svg>
                        </li>
                        <li>
                            <!-- svg字体图标 -->
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-Facebook"></use>
                            </svg>
                        </li>
                        <li>
                            <!-- svg字体图标 -->
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-ins"></use>
                            </svg>
                        </li>

                        <li>
                            <!-- svg字体图标 -->
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-weibo-square-fill-copy"></use>
                            </svg>
                        </li>
                    </div>
                </div>

                <div class="item">
                    <img src="../assets/images/company/team2.png">
                    <h3>Aston Dark</h3>
                    <p>Web Developer</p>
                    <!-- 联系方式 -->
                    <div class="contact">
                        <li>
                            <!-- svg字体图标 -->
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-tuitetwitter43"></use>
                            </svg>
                        </li>
                        <li>
                            <!-- svg字体图标 -->
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-Facebook"></use>
                            </svg>
                        </li>
                        <li>
                            <!-- svg字体图标 -->
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-ins"></use>
                            </svg>
                        </li>

                        <li>
                            <!-- svg字体图标 -->
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-weibo-square-fill-copy"></use>
                            </svg>
                        </li>
                    </div>
                </div>

                <div class="item">
                    <img src="../assets/images/company/team3.png">
                    <h3>Keir Preston</h3>
                    <p>Business Advisor</p>
                    <!-- 联系方式 -->
                    <div class="contact">
                        <li>
                            <!-- svg字体图标 -->
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-tuitetwitter43"></use>
                            </svg>
                        </li>
                        <li>
                            <!-- svg字体图标 -->
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-Facebook"></use>
                            </svg>
                        </li>
                        <li>
                            <!-- svg字体图标 -->
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-ins"></use>
                            </svg>
                        </li>

                        <li>
                            <!-- svg字体图标 -->
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-weibo-square-fill-copy"></use>
                            </svg>
                        </li>
                    </div>
                </div>

                <div class="item">
                    <img src="../assets/images/company/team4.png">
                    <h3>Criss Donald</h3>
                    <p>Business Analysis</p>
                    <!-- 联系方式 -->
                    <div class="contact">
                        <li>
                            <!-- svg字体图标 -->
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-tuitetwitter43"></use>
                            </svg>
                        </li>
                        <li>
                            <!-- svg字体图标 -->
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-Facebook"></use>
                            </svg>
                        </li>
                        <li>
                            <!-- svg字体图标 -->
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-ins"></use>
                            </svg>
                        </li>

                        <li>
                            <!-- svg字体图标 -->
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-weibo-square-fill-copy"></use>
                            </svg>
                        </li>
                    </div>
                </div>
            </div>

            <!-- 轮播的箭头区域 -->
            <div class="arrow wrap">
                <div class="left">
                    <i class="flaticon-left"></i>
                </div>
                <div class="right">
                    <i class="flaticon-right"></i>
                </div>
            </div>
        </div>
    </section>


    <!-------------- 创建模板区域 -------------->
    <section id="template">
        <div class="wrap">
            <!-- 左侧文字描述 -->
            <div class="left">
                <h3>
                    Build your Perfect Template Now!
                </h3>
                <div class="desc">
                    If you want to create a new website for your business, do not hesitate to contact us today. We have
                    created you to provide all types of services on the website.
                </div>
                <div class="btn">
                    Get It Now
                </div>
            </div>


            <!-- 右侧图片 -->
            <div class="right">
                <img src="../assets/images/company/cta-img.png">
            </div>
        </div>
    </section>


    <!-------------- 价格计划区域 -------------->
    <section id="price-plan">
        <div class="wrap">
            <!-- 标题 -->
            <div class="title">
                Pricing Plan
            </div>

            <!-- 线条区域 -->
            <div class="line">
                <span class="left"></span>
                <img src="../assets/images/company/seperator-icon.png">
                <span class="right"></span>
            </div>

            <!-- 描述区域 -->
            <div class="desc">
                Pricing strategy in which the selling price is determined by adding a specific
                <br>
                amount markup to a product's unit cost.
            </div>

            <!-- 价格卡片区域 -->
            <div class="card">
                <div class="item">
                    <img src="../assets/images/company/price-img1.png">
                    <div class="title">
                        Economy
                    </div>
                    <div class="price">
                        <h2>$19</h2>
                        <span>per month</span>
                    </div>
                    <div class="desc">
                        Free Suppport 24/7
                        <br>
                        Databases Download
                        <br>
                        Maintenance Email
                        <br>
                        Unlimited Traffic
                        <br>
                    </div>
                    <div class="btn">
                        Start The Plan
                    </div>
                </div>

                <div class="item active">
                    <img src="../assets/images/company/price-img2.png">
                    <div class="title">
                        Deluxe
                    </div>
                    <div class="price">
                        <h2>$29</h2>
                        <span>per month</span>
                    </div>
                    <div class="desc">
                        Free Suppport 24/7
                        <br>
                        Databases Download
                        <br>
                        Maintenance Email
                        <br>
                        Unlimited Traffic
                        <br>
                    </div>
                    <div class="btn">
                        Start The Plan
                    </div>
                </div>

                <div class="item">
                    <img src="../assets/images/company/price-img3.png">
                    <div class="title">
                        Ultimate
                    </div>
                    <div class="price">
                        <h2>$49</h2>
                        <span>per month</span>
                    </div>
                    <div class="desc">
                        Free Suppport 24/7
                        <br>
                        Databases Download
                        <br>
                        Maintenance Email
                        <br>
                        Unlimited Traffic
                        <br>
                    </div>
                    <div class="btn">
                        Start The Plan
                    </div>
                </div>
            </div>
        </div>

    </section>


    <!-------------- 最近新闻区域 -------------->
    <section id="recent-news">
        <div class="wrap">
            <!-- 标题 -->
            <div class="title">
                Latest News
            </div>

            <!-- 线条区域 -->
            <div class="line">
                <span class="left"></span>
                <img src="../assets/images/company/seperator-icon.png">
                <span class="right"></span>
            </div>

            <!-- 描述区域 -->
            <div class="desc">
                News websites and blogs are common sources for web feeds, but feeds are
                <br>
                also used to deliver structured
            </div>

            <!-- 新闻卡片区域 -->
            <div class="card-list">
                <div class="item">
                    <!-- 新闻封面区域 -->
                    <img src="../assets/images/company/blog1.png">

                    <!-- 新闻内容区域 -->
                    <div class="content">
                        <p class="label">By ThemeFar</p>
                        <h3>
                            A business plan is a formal written document business goals
                        </h3>
                        <div class="detial">
                            A business plan is a formal written document containing business goals. The methods on how
                            these goals can be [....]
                        </div>
                        <div class="time">
                            <div class="left">
                                12 March, 2019
                            </div>
                            <div class="right">
                                <span>Read More ></span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="item">
                    <!-- 新闻封面区域 -->
                    <img src="../assets/images/company/blog2.png">

                    <!-- 新闻内容区域 -->
                    <div class="content">
                        <p class="label">By ThemeFar</p>
                        <h3>
                            A business is the activity of making one's living
                        </h3>
                        <div class="detial">
                            Business may offer to many differing activitie, such as the activity of buying or selling in
                            trade. Business activity [....]
                        </div>
                        <div class="time">
                            <div class="left">
                                08 March, 2019
                            </div>
                            <div class="right">
                                <span>Read More ></span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="item">
                    <!-- 新闻封面区域 -->
                    <img src="../assets/images/company/blog3.png">

                    <!-- 新闻内容区域 -->
                    <div class="content">
                        <p class="label">By ThemeFar</p>
                        <h3>
                            Business statistics is the science of good decision making
                        </h3>
                        <div class="detial">
                            Business statistics is the science of good decision making in the face of ambiguity and is
                            used in many system [....]
                        </div>
                        <div class="time">
                            <div class="left">
                                02 March, 2019
                            </div>
                            <div class="right">
                                <span>Read More ></span>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>


    </section>


    <!-------------- 赞助商LOGO区域 -------------->
    <section id="sponsor">
        <div class="wrap">
            <li>
                <img src="../assets/images/company/client-logo01.png">
            </li>
            <li>
                <img src="../assets/images/company/client-logo02.png">
            </li>
            <li>
                <img src="../assets/images/company/client-logo03.png">
            </li>
            <li>
                <img src="../assets/images/company/client-logo04.png">
            </li>
            <li>
                <img src="../assets/images/company/client-logo05.png">
            </li>
        </div>
    </section>


    <!-------------- 客户回馈区域 -------------->
    <section id="customer-feedback">
        <div class="wrap">
            <!-- 左侧图片区域 -->
            <div class="left">
                <img src="../assets/images/company/testimonial-img.png">
            </div>


            <!-- 右侧内容区域 -->
            <div class="right">
                <h3>Testimonials</h3>
                <h2>Our Satisfied Customer
                    <br> Feedback
                </h2>
                <!-- 客户回馈内容区域 -->
                <div class="main">
                    <div class="content">
                        “I am very happy to create a website from you. Whatever I wanted for my website, I got
                        everything from you very quickly. When I made a website in the future, I will build from you. ”
                    </div>
                    <div class="name">
                        David T. Eiler
                    </div>
                    <div class="job">
                        Systems Software Engineer
                    </div>

                    <!-- 箭头区域 -->
                    <div class="arrow">
                        <div class="left">
                            <i class="flaticon-left"></i>
                        </div>
                        <div class="right">
                            <i class="flaticon-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-------------- 订阅区域 -------------->
    <section id="subscribe">
        <div class="wrap">
            <div class="left">
                <h3>Subscribe</h3>
                <h2>to our Newsletter</h2>
                <div class="desc">
                    Subscribe to our Newsletter. We'll send email notifications everytime we release new Template.
                </div>
                <div class="email">
                    <input type="text" placeholder="Enter you Email">
                    <i class="flaticon-plane"></i>
                </div>
            </div>

            <div class="right">
                <img class="letter" src="../assets/images/company/news-letter-img.png">
                <img class="bird1 bird" src="../assets/images/company/bard1.png">
                <img class="bird2 bird" src="../assets/images/company/bard2.png">
                <img class="bird3 bird" src="../assets/images/company/bard3.png">
            </div>
        </div>
    </section>


    <!-------------- 联系区域 -------------->
    <section id="contact">
        <div class="wrap">
            <!-- 标题 -->
            <div class="title">
                Contact Us
            </div>

            <!-- 线条区域 -->
            <div class="line">
                <span class="left"></span>
                <img src="../assets/images/company/seperator-icon.png">
                <span class="right"></span>
            </div>

            <!-- 描述区域 -->
            <div class="desc">
                News websites and blogs are common sources for web feeds, but feeds are also
                <br>
                used to deliver structured
            </div>

            <!-- 主要内容 -->
            <div class="main">
                <!-- 左侧表单区域 -->
                <div class="left">
                    <input type="text" placeholder="Full Name">
                    <input type="text" placeholder="Email Address">
                    <input type="text" placeholder="Subject">
                    <textarea cols="30" rows="10" placeholder="Your Message"></textarea>

                    <div class="btn">Send Message</div>
                </div>

                <!-- 右侧公司联系方式 -->
                <div class="right">
                    <h3 class="">Contact Info</h3>
                    <div class="desc">Contact is the most important part of businessess. If you need any information
                        about our
                        business, contact the information provided below
                    </div>
                    <h3 class="">Corporate Office</h3>
                    <div class="contact-list">
                        <li>
                            <!-- svg字体图标 -->
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-dingwei"></use>
                            </svg>
                            <span>111 Camino Del Rio Suite 300 San Diego</span>
                        </li>
                        <li>
                            <!-- svg字体图标 -->
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-dianhua"></use>
                            </svg>
                            <span>+00 222- 333 -7889</span>
                        </li>

                        <li>
                            <!-- svg字体图标 -->
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-youjian"></use>
                            </svg>
                            <span>support@stbbiz.com</span>
                        </li>
                        <li>
                            <!-- svg字体图标 -->
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-wangluo"></use>
                            </svg>
                            <span>www.timecrush.cn:8011.com</span>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-------------- 底部版权区域 -------------->
    <footer>
        <div class="header wrap">
            <img src="../assets/images/company/footer-logo.png" alt="">
            <h3>Follow Us</h3>
            <div class="contact-list">
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Instagram</li>
                <li>Pinterest</li>
            </div>
        </div>
        <div class="time">
            © stbbiz, 2019. Developed by Themefar
        </div>
    </footer>


    <!-------------- 视频播放区域 -------------->
    <section id="video">
        <!-- 遮罩层 -->
        <!-- <div class="cover"></div> -->

        <!-- 视频内容区域 -->
        <div class="content">
            <!-- 嵌套html文档 -->
            <iframe src="https://www.bilibili.com/video/BV1Wv411J71L?spm_id_from=333.851.b_62696c695f7265706f72745f646f756761.21"  security="restricted" sandbox="allow-scripts allow-same-origin allow-popups" frameborder="0"></iframe>

            <!-- 关闭图标 -->
            <div class="close">X</div>
           
        </div>


    </section>







    <!-- svg字体图标 -->
    <script src="//at.alicdn.com/t/font_2808384_0sfu7o9ih42.js"></script>
    <script src="../assets/lib/jqueyr.min.js"></script>
    <script src="../assets/js/main.js"></script>

</body>

</html>